@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
body{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    display: flex;
    background-repeat: no-repeat;
    background-color: #FAFAFA;
}
.b_{
    display: flex;
}
.body{
    display: flex;
    width: 100%;
}
.profile_pic_{
    border-radius: 50%;
    height: 32px;
    border: 1px solid white;
    margin-left: 1%;
    margin-top: 5% ;
}
.name{
    font-size: 12px;
}
.profile{
    background: linear-gradient(90deg, rgba(132, 60, 255, 1) 0%, rgba(132, 60, 255, 1) 23%, rgba(226, 72, 255, 1) 100%);
    border-radius: 22px 22px 5px 5px;
    color: white;
    line-height: 45px;
}
.profile_details{
    margin-left: 3%;
}
.profile_sub{
    color: hsl(276, 100%, 81%);
    margin-top: -30px;
    font-size: 10px;
}
.info{
    float: right;
    display: flex;
    margin-top: -40px;
    margin-left:120px;
}
.bg{
    background: linear-gradient(180deg, rgba(200, 72, 255, 1) 2%, rgba(132, 60, 255, 1) 150%);
    margin-left: -5%;
    margin-top: -1%;
    height: 620px;
    width: 525.59px;
    display: flex;
    border-radius: 0% 0% 240px 240px;
    width: 30%;
}
.phone{
    box-shadow: 0 0 20px 1px #5A5C5D;
    height: 458px;
    border: 10px solid white;
    border-radius: 32px 32px 32px 32px;
    width: 230px;
    background-color: hsl(270, 20%, 96%);
    margin-left:-7.6% ;
    margin-top: 6%;
}
.back{
    line-height: 4rem;
}
.chat{
    background:hsl(270, 20%, 96%);
    border-radius: 0 0 32px 32px;
    gap: 20px;
    font-size:9.2px ;
    display: block;
}
.phone_head{
    width: 50%;
    height: 20px;
    border-radius: 0 0 32px 32px;
    background: #fff;
    margin-left:25% ;
}
.dog{
    border-radius: 10px;
    float: right;
}
.pic_dog{
    width: fit-content;
    height: fit-content;
    gap: 10px;
    display: flex;
    float: right;
}
.pic1{
    width: 35px;
    height: 35px;
    display: flex;
}
.pic3{
    width: 35px;
    height: 35px;
    display: flex;
}
.pic2{
    width: 35px;
    height: 35px;
}
.flex{
    display: flex;
}
.chat_1{
    background:  #EDE5F4;
    height: 30px;
    width: 130px;
    color:hsl(276, 55%, 52%);
    border-radius: 10px 10px 10px 2px;
    margin-top: 5px;
    margin-top: 5%;
    margin-left: 3%;
}
.chat_2{
    margin-left: 3%;
    color:hsl(276, 55%, 52%);
    width: 130px;
    height: 30px;
    margin-top: 5px;
    background:  #EDE5F4;
    border-radius: 10px 10px 10px 2px;
}
.chat_3{
    width: 130px;
    margin-right:3%;
    height: 30px;
    border-radius: 10px 10px 2px 10px;
    color: hsl(271, 15%, 43%);
    margin-left:54%;
    text-align: left;
    background-color: hsl(0, 0%, 100%);
    float: right;
    margin-top: 5px;
}
.chat_4{
    color: hsl(271, 15%, 43%);
    background-color: hsl(0, 0%, 100%);
    margin-left:54%;
    border-radius: 10px 10px 2px 10px;
    margin-right: 3%;
    float: right;
    height: 25px;
    line-height: 23px;
    margin-top: 5px;
    width: 85px;
}
.chat_5{
    margin-left: 3%;
    color:hsl(276, 55%, 52%);
    background:  #EDE5F4;
    border-radius: 10px 10px 10px 2px;
    margin-top: 5px;
    width: 130px;
}
.mrp1{
    margin-left: 3%;
    background: linear-gradient(90deg, rgba(226, 72, 255, 1)0%, rgba(226, 72, 255, 1)23%, rgba(132, 60, 255, 1)100%);
    color:hsl(206, 6%, 79%);
    width: 70%;
    height: 35px;
    line-height: 38px;
    margin-top: 8px;
    border-radius: 10px 10px 10px 2px;
    display: flex;
}
.mrp2{
    margin-left: 3%;
    background: linear-gradient(90deg, rgba(226, 72, 255, 1)0%, rgba(226, 72, 255, 1)23%, rgba(132, 60, 255, 1)100%);
    color: hsl(206, 6%, 79%);
    width: 70%;
    line-height: 38px;
    height: 35px;
    margin-top: 8px;
    display: flex;
    border-radius: 10px 10px 10px 2px;
    display: flex;
}
.description{
    width: 35%;
    margin-top:17%;
    margin-left: -50%;
    font-size: 15px;
}
.input{
    width: 94%;
    margin-left: 3%;
    background: #ffff;
    height: 30px;
    border-radius: 25px;
    line-height: 25px;
    display: flex;
}
.send{
    float: right;
    line-height: 34px;
    background: hsl(271, 36%, 24%);
    border-radius: 50px;
    height: 30px;
    color: #fff;
    width: 30px;
    margin-left: 47%;
    gap: 50%;
}
.input_{
    gap: 100%;
    width: fit-content;
    color: hsl(206, 6%, 79%);
    margin-left: 5%;
    font-size: 8px;
}
._send{
    margin-top: 0.5%;
    margin-left: 8px;
}
.text{
    margin-left: 1%;
    margin-top: 2%;
}
.circle{
    height: 15px;
    width: 15px;
    margin-top:9px;
    margin-left: 5px;
    border-radius: 50%;
    border: 2px solid #E952FF;
}
.pr2{
    float: right;
    color: #fff;
    font-weight: 900;
    font-size: large;
    text-align: right;
    width: 45%;
}
.bg2{
    background: url('./images/bottom\ right\ background\ gradient.png');
    margin-top:5.7% ;
    width: 30%;
    height: 600px;
}
.h1{
    font-weight:700px;
    font-family: 'Rubik' sans-serif;
}
.pr1{
    float: right;
    color: #fff;
    font-weight: 900;
    font-size: large;
    text-align: right;
    width: 35%;
}
@media(max-width:375px){
    body{
        display: inline;
    }
    .body{
        display: flex;
    }
    .description{
        float: none;
        text-align: center;
        width: 85%;
        margin-left:7.5%;
    }
    .bg{
        margin-left: -110%;
        margin-top: -5.5%;
        width: 500px;
        height: 400px;
    }
    .phone{
        width: 70%;
        margin-left: -35%;
    }
    .b_{
       display: inline; 
    }
    .bg2{
        background: none;
        height: 0px;
        width: 0px;
    }
}